@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  
}

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

article #contacto {
  max-width: 1000px;
  margin: 0 auto;
}

/*MENU*/
img{
  max-width: 100%;
}

header{
  background-color: #212b55;
  border-bottom: 8px solid #da291c;
}

.imglogo{
  padding-left: 30px;
  width: 18%;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.menu .navbar ul{
  display: flex;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 0 20px;
  color: white;
  display: block;
  font-weight: 500;
}

.menu .navbar ul li a:hover {
  color: #879DED;
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

h1 {
  text-align: center;
  font-size: 65px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 50px;
  color: #212b55
}

h2 {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  color: #212b55;
}

form {
	justify-items: center;
	margin: 20px auto;
	padding: 30px 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	border-radius: 25px;
	text-align: center;
	width: 60%;
	background-color: white;
	
}

.input-group {
	display: flex;
	justify-content: space-between;
	flex-basis: 50%;
	gap: 40px;
	align-items: center;
	text-align: left;
}

.input-group1 {
	flex-basis: 50%;
	width: 60%;
}

.input-group1 label {
	display: block;
	color: #212b55;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;

}

input, textarea {
	padding: 10px 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	background-color: #e9e9f0;
	border: 1.5px solid #da291c;
	color: black;
	outline: none;
	width: 85%;

}

input::placeholder, textarea::placeholder {
	color: grey;
	font-size: 12px;
}

.btn {
	font-size: 18px;
	color: white;
	border: 0;
	border-radius: 25px;
	background-color: #212b55;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	width: 40%;
}

.btn:hover {
	background-color: black;
}

.cont-contacto {
  margin: 50px auto;
  width: 80%;
  justify-items: center;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  
}

.contactos-1 {
  flex-basis: 50%;
}

.contactos-1 h2 {
  text-align: left;
  font-size: 35px;
  font-weight: 700;
  text-transform: capitalize;
  color: #212b55;
}

.contacto-item {
  display: flex;
  margin: 40px auto;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  align-content: center;
  margin-bottom: 50px;
}


.item-img {
  width: 15%;
  
}

.ref-img {
  width: 15%;
}

.img-link {
  width: 100%;
}


.item-txt {
  padding: 0;
  margin: 0;
  width: 80%;
}

.item-txt h3 {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
  text-decoration: none;
  text-transform: capitalize;
  color: #212b55;
}

.item-txt p a {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

/*FOOTER*/

footer {
  padding: 10px 80px;
  background-color: #212b55;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer p {
  font-size: 12px;
  font-weight: 200;
  color: white;
  text-align: left;
}

.links-contacto ul {
  display: flex;
}

.links-contacto ul li a {
  display: block;
  padding: 0 20px;
}

.links-contacto img {
  height: 20px;


}

@media(max-width: 991px) {

  .menu {
      padding: 15px;

  }

  .menu label {
    display: initial;

  }

  .menu .navbar {
    position: absolute;
    top: 12%;
    left: 0;
    right: 0;
    background-color: #212b55;
    display: none;
  }

  .menu .navbar ul {
    padding: 0 10px;
    margin: 0 auto;
    flex-direction: column;
  }

  .menu .navbar ul li {
    display: initial;
    margin-bottom: 4px;
  }

  #menu:checked ~ .navbar{
    display: initial;
  }

  .header {
    min-height: 0vh;
  }

  .imglogo {
  padding-left: 15px;
  width: 35%;
}

  .header-content {
    padding: 100px 30px;
  }

  .header-content p {
    padding: 0;
  }

  h1 {
    font-size: 50px;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  form {
    margin: 0 auto;
    padding: 0 auto;
    width: 80%;
    flex-direction: column;
    margin-bottom: 30px;
  }

  #contacto {
    margin: 0;
    padding: 0;
  }

  .input-group {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    flex-basis: 100%;
    align-items: center;
    gap: 10px;
  }

  .input-group1 {
    flex-basis: 100%;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    padding: 0 auto;
  }

  .input-group1 label , input , textarea{
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .contactos-1 {
    margin-bottom: 10px;
  }

  .contactos-1 h2 {
    font-size: 30px;
    text-align: center;
  }

  .cont-contacto {
    flex-direction: column;
    margin: 0 auto;
    padding: 0 auto;
    gap: 20px;
  }

  .contacto-item {
    align-items: center;
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    margin-bottom: 20px;
  }

  .footer {
    margin: 0;
    padding: 0 ;
    flex-direction: column;
  }

  .footer p {
    text-align: center;
    margin-bottom: 20px;
  }

  .links-contacto {
    display: initial;
    margin-bottom: 5px;
  }
}



















